.App {
  text-align: center;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.App-header {
  background-color: #ffefc1;
}

.center-wrapper {
  display: flex;
  justify-content: center; /* Horizontal center */
  align-items: center;    /* Vertical center */
  height: calc(100vh - 100px); /* Full height minus header height */
}

main {
  text-align: center;
  background-color: #fff;
  border: 2px solid #564a3c;
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  margin: 0; /* Remove default browser margin */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;    /* Center vertically */
  min-height: 100vh;      /* Full viewport height */
  background-color: #ffe7c7; /* Optional background */
}


#plinko-board {
  width: 400px;
  height: 600px;
  background-color: #ffe7c7;
  border: 2px solid #7b3f00;
  position: relative;
  margin-bottom: 1rem;
}

#controls {
  text-align: center;
}

button {
  padding: 0.6em 1.2em;
  border: 2px solid #7b3f00;
  background-color: #f7d794;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ffcc80;
}
